<button (click)='LoadComments()' class ='btn btn-primary'>Load Comments</button>
<div *ngIf='comments!=null; then yesComments else noComments'></div>
<ng-template #yesComments>
    <h1>Comments</h1>
    <ul class="list-group">
        <li *ngFor='let comment of comments' class="list-group-item">
            {{comment.id}} - <strong>{{comment.email}}</strong> - {{comment.body | summary}}
            <!-- <button (click)='onRemove(comment)'>Remove Comment</button> -->
        </li>
    </ul>
</ng-template>
<ng-template #noComments>
    <h1>No Comments</h1>
</ng-template>

<!-- HIDDEN -->
<!-- <div [hidden]='comment!=null'>Comments</div>
<div [hidden]='comment===null'>noComments</div> -->
